!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= current_page.data.title || 'Jackson 2bears'
    = stylesheet_link_tag 'all'

  %body{class: page_classes}
    %header.site-header#top
      .content-container
        .logo= # image_tag 'logo.svg', alt: 'J2B'
        %nav.site-nav
          %span.row
            = link_to 'Home', '/'
            = link_to 'Performance', '/works/performance.html'
            = link_to 'Installation', '/works/installation.html'
          %span.row
            = link_to 'Video &amp; Film', '/works/film.html'
            = link_to 'Writings', '/works/writings.html'
            = link_to 'Contact', '/contact.html'

    = yield

    %section.questions-cta
      .content-container
        %p
          Questions?
          = link_to 'Get in touch.', '/contact.html'

    %footer.site-footer
      .content-container
        %a.footer-logo{href: '#top'}
        %section.footer-signup

          %form{action: 'https://jackson2bears.us11.list-manage.com/subscribe/post', method: 'post'}
            %input{type: 'hidden', name: 'u', value: 'fd0c274df9f1b2551b89244c2'}
            %input{type: 'hidden', name: 'id', value: 'df34afb6d8'}

            .controls
              %input{type: 'email', autocapitalize: 'off', autocorrect: 'off', name: 'EMAIL', id: 'EMAIL', placeholder: 'Enter your email to sign up for updates', required: true, aria: {controls:'subscribe-note'}}
              %button{type: 'submit'} Subscribe
            #footer-signup-message{aria: {live: 'assertive', atomic: 'true'}}

        %section.footer-legal
          Copyright 1999 –
          = DateTime.now.year
          Jackson 2bears.
          All rights reserved.

        %a.footer-skip-link{href: '#top'} Back to top

  = javascript_include_tag 'all'
